@page "/gem_o_amber"
@using System.Text.Json
@using Projekt_MagazynKamieniSzlachetnych
@using System.Text.Json.Serialization
@rendermode InteractiveServer
@inject NavigationManager uriHelper;

<PageTitle>Ambers</PageTitle>

<h1>Organic Gemstones - Ambers</h1>

<form method="post" @onsubmit="Submit" @formname="starship-plain-form">
	<AntiforgeryToken />
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>


			
			<tr>
				<th><label>Common Name</label></th>
				<th><InputText @bind-Value="GemName" /></th>
			</tr>
			<tr>
				<th><label>Color</label></th>
				<th><InputText @bind-Value="Color" /></th>
			</tr>
			<tr>
				<th><label>Polished?</label></th>
				<th><InputCheckbox @bind-Value="PolishStatus" /></th>
			</tr>
			<tr>
				<th><label>Inclusions Present?</label></th>
				<th><InputCheckbox @bind-Value="InclusionStatus" /></th>
			</tr>
			<tr>
				<th><label>Class</label></th>
				<th><InputNumber @bind-Value="AmberClass" /></th>
			</tr>
			<tr>
				<th><label>Size (ct)</label></th>
				<th><InputNumber @bind-Value="Size" /></th>
			</tr>
			<tr>
				<th><label>Value ($)</label></th>
				<th><InputNumber @bind-Value="Value" /></th>
			</tr>
			<tr>
				<th></th>
				<th><button type="submit">Submit</button></th>
			</tr>
		</tbody>

	</table>
</form>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Common Name</th>
			<th>Color</th>
			<th>Polished?</th>
			<th>Inclusions Present?</th>
			<th>Class</th>
			<th>Size(ct)</th>
			<th>Value($)</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
	
		@foreach (var organicGem in Gems_AmbersList)
		{
			
			<tr>



				<td>@GetId(organicGem)</td>
				<td>@organicGem.GemName</td>
				<td>@organicGem.Color</td>
				<td>@YesNoFromBool(organicGem.Polished)</td>
				<td>@YesNoFromBool(organicGem.InclusionsPresent)</td>
				<td>@organicGem.AmberClass</td>
				<td>@organicGem.Size</td>
				<td>@organicGem.Value</td>
				<td><button class="btn btn-sm btn-danger" @onclick="() => Delete(organicGem)">Delete</button></td>
				
			</tr>
			
		}
	</tbody>

</table>




@code{


	private static JsonSerializerOptions options = new JsonSerializerOptions
	{
		Converters = { new JsonStringEnumConverter() }
	};
	private List<OrganicGem_Ambers> Gems_AmbersList = JsonSerializer.Deserialize<List<OrganicGem_Ambers>>(File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Organic_Ambers.json")), options);
	//private List<OrganicGem_Ambers> Gems_AmbersList = new List<OrganicGem_Ambers>();
	private int GetId(OrganicGem_Ambers value)
	{
		return Gems_AmbersList.IndexOf(value) + 1;
	}
	private void Delete(OrganicGem_Ambers value)
	{
		Gems_AmbersList.Remove(value);
		File.WriteAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Organic_Ambers.json"), JsonSerializer.Serialize(Gems_AmbersList));

	}


	//double Hardness;
	string Color = "";
	string GemName = "";

	bool PolishStatus;
	bool InclusionStatus;
	int AmberClass;
	float Size;
	float Value;

	//private static string Gems_InorganicJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Organic_Ambers.json")); //possibly not needed
	
	private void Submit()
	{
		OrganicGem_Ambers NewAmber = new OrganicGem_Ambers(Color, 0, GemName, PolishStatus, InclusionStatus, AmberClass, Size, Value);
		List<OrganicGem_Ambers> Gems_AmbersList = JsonSerializer.Deserialize<List<OrganicGem_Ambers>>(File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Organic_Ambers.json")), options);
		//List<OrganicGem_Ambers> Gems_AmbersList = new List<OrganicGem_Ambers>();
		Gems_AmbersList.Add(NewAmber);
		File.WriteAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Organic_Ambers.json"), JsonSerializer.Serialize(Gems_AmbersList));
		uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true); //reloads the page, so the changes become immediately visible
	}
	private string YesNoFromBool(bool boolValue)
	{
		if (boolValue == true)
		{
			return "Yes";
		}
		else
		{
			return "No";
		}
	}

}