@page "/"
@using System.Text.Json
@using Lab3 
@using LabProjekt
@using System.Text.Json.Serialization
@rendermode InteractiveServer

<PageTitle>Test Page - Listing</PageTitle>

<h1>Gemstone Categories - Inorganic</h1>


<table class="table">
	<thead>
		<tr>
			<th>Common Name</th>
			<th>Color</th>
			<th>Hardness</th>
			<th>Preciousness</th>
			<th>Formula (Chemical Makeup)</th>
		</tr>
	</thead>
	<tbody>
	
		@foreach (var inorganicGem in Gems_InorganicList)
		{
			<tr>


				<td>@inorganicGem.GemName</td>
				<td>@inorganicGem.Color</td>
				<td>@inorganicGem.Hardness</td>
				<td>@inorganicGem.getPreciousnessString()</td>
				<td>@inorganicGem.ChemicalMakeUp</td>
			</tr>
			
		}
	</tbody>

</table>
<table class="table">
	<thead>
		<tr>
			<th>Engine Capacity</th>
			<th>Engine Capacity</th>
			<th>Year</th>
			<th>Model</th>
			<th>Opcje</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var car in carList)
		{
			<tr>

				<td>@GetId(car)</td>
				<td>@car.EngineCapacity</td>
				<td>@car.Year</td>
				<td>@car.Model</td>
				<td><button class="btn btn-sm btn-danger" @onclick="() => Delete(car)">Delete</button></td>



			</tr>
		}
	</tbody>

</table>



@code{

	//private static string Gems_InorganicJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Inorganic.json")); //possibly not needed
		//can't be using that, cuz it causes the list to not get updated in real time
	private static JsonSerializerOptions options = new JsonSerializerOptions
	{
		Converters = { new JsonStringEnumConverter() }
	};
	private List<InorganicGem_Type> Gems_InorganicList = JsonSerializer.Deserialize<List<InorganicGem_Type>>(File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Inorganic.json")), options);
	//private List<InorganicGem_Type> Gems_InorganicList = JsonSerializer.Deserialize<List<InorganicGem_Type>>(Gems_InorganicJson);




	private string carsJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json"));

	private List<Car> carList = JsonSerializer.Deserialize<List<Car>>(File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json")));
	
	/*
	 <table class="table">
	<thead>
		<tr>
			<th>Engine Capacity</th>
			<th>Engine Capacity</th>
			<th>Year</th>
			<th>Model</th>
			<th>Opcje</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var car in carList)
		{
			<tr>

				<td>@GetId(car)</td>
				<td>@car.EngineCapacity</td>
				<td>@car.Year</td>
				<td>@car.Model</td>
				<td><button class="btn btn-sm btn-danger" @onclick="() => Delete(car)">Delete</button></td>



			</tr>
		}
	</tbody>

</table>

	 */

	private int GetId(Car value)
	{
		return carList.IndexOf(value)+1;
	}
	
	private void Delete(Car value)
	{
		carList.Remove(value);
		File.WriteAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json"), JsonSerializer.Serialize(carList));
	
	}

	/*protected override void OnInitialized()
	{
		base.OnInitialized();
	
		//var carsJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json"));
	//	var cars = JsonSerializer.Deserialize<List<Car>>(carsJson);
		//base.OnInitialized();
	}
	
	protected override async Task OnInitializedAsync()
	{
		var carsJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json"));
		var cars = JsonSerializer.Deserialize<List<Car>>(carsJson);
		// Simulate asynchronous loading to demonstrate streaming rendering
		await Task.Delay(500);

		var startDate = DateOnly.FromDateTime(DateTime.Now);
		var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
	
	}*/
}